// Dot animation colors
$color-loading-dot-default: hsl(324, 40%, 80%)
$color-anim-dot-00: hsl(324, 40%, 80%)
$color-anim-dot-10: hsl(360, 40%, 80%)
$color-anim-dot-20: hsl( 36, 40%, 80%)
$color-anim-dot-30: hsl( 72, 40%, 80%)
$color-anim-dot-40: hsl(108, 40%, 80%)
$color-anim-dot-50: hsl(144, 40%, 80%)
$color-anim-dot-60: hsl(180, 40%, 80%)
$color-anim-dot-70: hsl(216, 40%, 80%)
$color-anim-dot-80: hsl(252, 40%, 80%)
$color-anim-dot-90: hsl(324, 40%, 80%)

// Fonts
$font-regular:  "Roboto"
$font-light:    "Roboto Light"

@font-face
  font-family: "Roboto"
  src: url('../fonts/Roboto-Regular-webfont.woff') format("woff")

@font-face
  font-family: "Roboto Light"
  src: url('../fonts/Roboto-Light-webfont.woff') format("woff")

// Mixins
=card
  box-shadow: 0 0 35px rgba(50, 50, 75, .1), 0 5px 15px rgba(0, 0, 0, .05)

=landscape
  @media screen and (min-width: 600px) and (orientation: landscape)
    @content

=portrait
  @media screen and (orientation: portrait)
    @content

*
  box-sizing: border-box !important
  margin: 0
  padding: 0
  box-shadow: 0

body
  margin: 0 0 0 0
  padding: 0 0 0 0
  font-family: $font-regular, Helvetica, sans-serif
  font-size: 16px
  overflow-x: hidden

.plot-color-map
  display: none

.btn-top-right
  cursor: pointer
  position: absolute
  top: 2rem
  right: 2rem

//
// Main View
//

[view=main]
  height: 100vh
  max-height: 100vh
  overflow: hidden
  display: flex
  flex-flow: column
  justify-content: space-between
  align-content: space-between

.landscape-wrapper-top
  +portrait
    margin: 0 auto
    padding: 0 0 1rem 0
    justify-self: flex-start
    display: flex
    flex-flow: column
    justify-content: center
    align-content: space-between
  +landscape
    margin: 0 auto
    padding: 0 0 0 0
    display: flex
    flex-flow: column
    height: 40vh
    width: 100vw
    justify-content: center
    align-content: space-around

.logo-container
  justify-self: flex-start
  align-self: center
  width: 30vmin
  height: 30vmin
  overflow: hidden
  +portrait
    +card
    margin: 1rem auto 1rem auto
    border: 1px solid
    border-radius: 100%
  +landscape
    margin: 0 auto
  .logo
    width: 100%
    height: 100%
    background-size: contain
    background-repeat: no-repeat
    background-origin: content-box
    background-position: 50% 50%
    padding: 1rem 1rem
    &.animate
      animation: 1s animate-logo
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)

.price
  flex-grow: 1
  justify-self: center
  display: flex
  flex-flow: row
  justify-content: space-between
  width: 80vw
  margin: 0 auto
  text-align: center
  font-family: $font-light
  +landscape
    width: 100vw
    justify-content: center
  .value
    justify-self: flex-start
    align-self: center
    font-size: 2.5rem
    padding-right: .33rem
    +landscape
      padding-right: .65rem
    &::before
      content: '$'
      font-size: 2.5rem
  .change
    justify-self: flex-end
    align-self: center
    display: flex
    flex-flow: column
    justify-content: space-between
    align-content: flex-start
    padding-left: .33rem
    height: 2.5rem
    +landscape
      padding-left: .65rem
    .top
      justify-self: flex-start
      align-self: flex-end
      font-size: 0.9rem
    .bottom
      justify-self: flex-end
      align-self: flex-end
      font-size: 1.25rem

.landscape-wrapper
  +portrait
    display: flex
    flex-flow: column
    justify-content: space-between
    align-content: center
    flex-grow: 1
    justify-self: flex-end
  +landscape
    display: flex
    flex-flow: column
    justify-content: space-between
    align-content: center
    flex-grow: 1
    width: 100vw
    height: 60vh
    margin: 0 auto

.overview-container
  flex-grow: 2
  display: flex
  flex-flow: column
  align-self: center
  justify-self: flex-end
  margin: 0 auto
  width: 90vw
  +landscape
    width: 50vw
    padding-top: .5rem
    align-content: space-around
    line-height: 2.5rem
  .overview
    display: flex
    flex-flow: column
    justify-content: space-between
    +portrait
      flex-grow: 1
      padding: 0 1.25rem 1rem 1.25rem
    +landscape
      justify-self: center
      padding: 0 1rem 0 1rem
    .value
      font-family: $font-light

.plot-container
  box-sizing: border-box
  justify-self: flex-end
  align-self: center
  display: flex
  flex-flow: column
  justify-content: space-between
  align-content: center
  align-items: center
  width: 100vw
  height: 50vh
  padding: 0 0 0 0
  margin: 0 auto
  +landscape
    padding-top: 2rem
    box-sizing: border-box
    justify-self: flex-end
    align-self: center
    width: 100%
    height: 100%

  .plot
    box-sizing: border-box !important
    flex-grow: 1
    justify-self: center
    align-self: center
    width: 100%

.row
  display: flex
  flex-flow: row
  justify-content: space-between
  align-content: center

.banner-offline
  display: none
  opacity: 0
  position: fixed
  top: 0
  left: 0
  width: 100vw
  line-height: 2rem
  text-align: center
  z-index: 100
  border-bottom: 2.5px solid

//
// Loading indicator
//

=loading-anim($t, $delay)
  animation: $t $delay animate-loading-indicator infinite ease-in-out
  .dot
    animation: $t $delay animate-loading-dot-color infinite linear

.loading-text
  margin: auto auto
  text-align: center
  position: absolute
  width: 100vmin
  top: 50%
  left: 0
  line-height: 1rem
  margin-top: -.5rem

.loading-indicator
  width: 40vmin
  height: 40vmin
  position: absolute
  top: 50%
  left: 50%
  transform-origin: 0 0
  .dot
    opacity: 0
    margin: auto auto
    width: 4vmin
    height: 4vmin
    background-color: $color-loading-dot-default
    border-radius: 100% 100%
  &.a1
    +loading-anim(2s, 0)
  &.a2
    +loading-anim(2s, .1666s)
  &.a3
    +loading-anim(2s, .3333s)
  &.a4
    +loading-anim(2s, .5000s)
  &.a5
    +loading-anim(2s, .6666s)
  &.a6
    +loading-anim(2s, .8333s)

//
// Button framework
//

.button-stack
  display: flex
  flex-flow: column
  justify-content: flex-start
  align-content: flex-start
  margin: 1rem auto

  > .button-group:not(:first-child)
    margin-top: .25rem

.button-group
  display: flex
  flex-flow: row
  justify-content: flex-start
  align-content: center
  width: 100%

  &:not(:last-child)
    margin-bottom: 1rem

  input[type=button]
    +card
    font-family: $font-regular
    padding: 1rem 2rem
    border: none
    &:not(:first-child)
      margin-left: .5rem
    &:not(:last-child)
      margin-right: .5rem
    &.grow
      flex-grow: 1
  &.grow input[type=button]
    flex-grow: 1

.page-container
  +card
  margin: 0 auto
  padding: 1rem 1.25rem
  width: 90vw
  line-height: 2rem

.license-container
  margin: 1rem auto
  padding: 1rem 1.25rem
  width: 100vw
  line-height: 1.25rem

  h1
    line-height: 2rem

  h2
    line-height: 2rem
    margin: 1rem 0 .5rem 0

  p
    +card
    width: 100%
    margin: 0 auto
    padding: 1rem 1.25rem
    font-size: 0.75rem

@keyframes animate-logo
  0%
    transform: translateX(0) translateY(0)
  49%
    transform: translateX(10em) translateY(0)
  50%
    transform: translateX(10em) translateY(-10em)
  51%
    transform: translateX(-10em) translateY(-10em)
  52%
    transform: translateX(-10em) translateY(0)
  100%
    transform: translateX(0) translateY(0)

@keyframes animate-loading-indicator
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes animate-loading-dot-color
  from, to
    background-color: $color-anim-dot-00
    opacity: 0
  10%
    background-color: $color-anim-dot-10
    opacity: 0
  20%
    background-color: $color-anim-dot-20
    opacity: 0.1
  30%
    background-color: $color-anim-dot-30
    opacity: 1
  40%
    background-color: $color-anim-dot-40
  50%
    background-color: $color-anim-dot-50
  60%
    background-color: $color-anim-dot-60
  70%
    background-color: $color-anim-dot-70
    opacity: 1
  80%
    background-color: $color-anim-dot-80
    opacity: 0.1
  90%
    background-color: $color-anim-dot-90
    opacity: 0
