// Images
$img-logo: url('../img/logo_light.svg')

//
// Color definitions
//

// Generic
$color-transparent:             rgba(0, 0, 0, 0)
$color-dark-gray:               rgba(90, 90, 90, 1.0)

// Foreground
$color-fg-page:                 hsla(180, 100%, 97%, 1)
$color-fg-banner-offline:       hsla(0, 0%, 95%, 1)
$color-fg-btn-settings:         hsla(180, 15%, 80%, 1)
$color-fg-trend-up:             hsla(127, 40%, 61%, 1)
$color-fg-trend-down:           hsla(0, 40%, 61%, 1)
$color-fg-price-dollar-sign:    hsla(55, 65%, 61%, 1)

// Background
$color-bg-page:                 hsla(0, 0%, 13%, 1)
$color-bg-logo:                 hsla(0, 0%, 10%, 1)
$color-bg-banner-offline:       hsla(0, 50%, 50%, 1)

// Borders
$color-logo-border:             hsla(253, 25%, 75%, 1)

// Plot Mapping Colors
$plot-bg-legend:                hsla(0, 0%, 0%, .4)
$plot-fg-legend:                hsla(180, 100%, 97%, 1)
$plot-trace-price-outline:      hsla(140, 50%, 65%, 1)
$plot-trace-price-fill:         hsla(140, 45%, 65%, .6)
$plot-trace-marketcap-outline:  hsla(260, 40%, 70%, 1)
$plot-trace-marketcap-fill:     hsla(260, 35%, 70%, .6)

// Plot Mapping Implementation
.plot-color-map
  [map="legend"]
    color: $plot-fg-legend
    background-color: $plot-bg-legend
  [map="trace-price"]
    color: $plot-trace-price-outline
    background-color: $plot-trace-price-fill
  [map="trace-marketcap"]
    color: $plot-trace-marketcap-outline
    background-color: $plot-trace-marketcap-fill

//
// Mixins
//

=landscape
  @media screen and (min-width: 600px) and (orientation: landscape)
    @content

=portrait
  @media screen and (orientation: portrait)
    @content

//
// Color implementations
//

*
  -webkit-tap-highlight-color: $color-transparent

body
  color: $color-fg-page
  background-color: $color-bg-page

.logo-container
  +portrait
    background-color: $color-bg-logo
    border-color: $color-logo-border
  .logo
    background-image: $img-logo

.price
  color: $color-fg-page
  .value::before
    color: $color-fg-price-dollar-sign
  .change
    &.trend--up .bottom
      color: $color-fg-trend-up
    &.trend--down .bottom
      color: $color-fg-trend-down

.banner-offline
  color: $color-fg-banner-offline
  background-color: $color-bg-banner-offline
  border-bottom-color: $color-bg-page

.btn-settings
  color: $color-fg-btn-settings
